<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1>Flask Chatterbot Example</h1>
    <div class="container">
        <div id="chatbox">
            <p class="botText"><span>Xin chào bạn! Tôi có thể giúp gì cho bạn ?</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="btnSearch" type="button" value="Search" onclick="_searching()">
            <input id="btnSpeech" type="button" value="Speak" onclick="playSound()">
            <audio id="audio" src="../__pycache__/SpeechOn.wav"></audio>
            <input id="buttonInput" type="submit" value="Send">
        </div>
        <script>
            function getBotResponse() {
                var rawText = $("#textInput").val();
                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                });
                $.get("/get", {
                    msg: rawText
                }).done(function(data) {
                    var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                });
            }

            function getBotResponse2() {
                $.get("/answer").done(function(data) {
                    var userHtml = '<p class="userText"><span>' + data.user + '</span></p>';
                    $("#chatbox").append(userHtml);
                    var botHtml = '<p class="botText"><span>' + data.bot + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                });
            }

            function getBotResponse3() {
                $.get("/searching").done(function() {
                    var userHtml = '<p class="userText"><span>' + data.user + '</span></p>';
                    $("#chatbox").append(userHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                });
            }

            function _searching() {
                var botHtml = '<p class="botText"><span>Nhập từ khoá bạn muốn tìm kiếm...</span></p>';
                $("#chatbox").append(botHtml);
            }

            function playSound() {
                var audio = document.getElementById("audio");
                audio.play();
                var botHtml = '<p class="botText"><span>Listening...</span></p>';
                $("#chatbox").append(botHtml);
            }

            $("#textInput").keypress(function(e) {
                if (e.which == 13) {
                    getBotResponse();
                }
            });
            $("#btnSpeech").click(function() {
                getBotResponse2();
            });
            $("#btnSearch").submit(function() {
                getBotResponse3()
            });
            $("#buttonInput").click(function() {
                getBotResponse();
            });
        </script>
    </div>
</body>

</html>